In [10]:
path = "/content/data.csv"

In [11]:
print(f"Total: ${sum(float(r[3]) for r in __import__('csv').reader(open(path)) if r[0] != 'transaction_id'):,.2f}")

Total: $1,814,359.75

In [24]:
print(max({r[5]:sum(float(row[3]) for row in __import__('csv').reader(open(path)) if row[5]==r[5] and row[0]!='transaction_id') for r in __import__('csv').reader(open(path)) if r[0]!='transaction_id'}.items(), key=lambda x:x[1]))

('Mike Rodriguez', 502252.0)

In [13]:
[print(f"{r[1]}: ${float(r[3]):,.2f}") for r in __import__('csv').reader(open(path)) if r[7]=='Enterprise' and r[0]!='transaction_id']

Acme Corp: $45,000.00
Gamma Solutions: $78,900.00
Zeta Systems: $156,000.00
Iota Industries: $67,500.25
Kappa LLC: $91,200.75
Nu Technologies: $76,800.25
Omicron LLC: $128,900.00
Sigma Corp: $89,700.75
Phi Corp: $176,500.25
Omega Technologies: $134,600.50
Alpha Solutions: $71,200.25
Matrix Systems: $105,600.25

[None, None, None, None, None, None, None, None, None, None, None, None]

In [25]:
print({r:f"${sum(float(row[3]) for row in __import__('csv').reader(open(path)) if row[6]==r and row[0]!='transaction_id'):,.2f}" for r in set(row[6] for row in __import__('csv').reader(open(path)) if row[0]!='transaction_id')})

{'Asia Pacific': '$326,551.75', 'Europe': '$502,252.00', 'North America': '$985,556.00'}

In [15]:
print(sorted([(r[1], f"${float(r[3]):,.2f}") for r in list(__import__('csv').reader(open(path)))[1:] if float(r[3]) > 100000], key=lambda x: float(x[1][1:].replace(',','')), reverse=True))

[('Phi Corp', '$176,500.25'), ('Zeta Systems', '$156,000.00'), ('Omega Technologies', '$134,600.50'), ('Omicron LLC', '$128,900.00'), ('Matrix Systems', '$105,600.25')]

In [26]:
print(len(set(r[2] for r in __import__('csv').reader(open(path)) if r[0] != 'transaction_id')))

3

In [17]:
print(f"Average: ${sum(float(r[3]) for r in __import__('csv').reader(open(path)) if r[6]=='North America' and r[0]!='transaction_id') / len([r for r in __import__('csv').reader(open('data.csv')) if r[6]=='North America' and r[0]!='transaction_id']):,.2f}")

Average: $70,396.86

In [18]:
[print(f"{r[1]} | {r[2]} | ${r[3]}") for r in __import__('csv').reader(open(path)) if r[2]=='Software' and float(r[3]) > 50000 and r[0] != 'transaction_id']

Zeta Systems | Software | $156000.00
Iota Industries | Software | $67500.25
Omicron LLC | Software | $128900.00
Sigma Corp | Software | $89700.75
Phi Corp | Software | $176500.25
Omega Technologies | Software | $134600.50
Nexus Corp | Software | $92300.75
Apex Industries | Software | $57800.00

[None, None, None, None, None, None, None, None]

In [19]:
vals=[float(r[3]) for r in __import__('csv').reader(open(path)) if r[0]!='transaction_id']; print(f"Min: ${min(vals):,.2f} | Max: ${max(vals):,.2f} | Avg: ${sum(vals)/len(vals):,.2f}")
print(vals)

Min: $8,750.25 | Max: $176,500.25 | Avg: $62,564.13
[45000.0, 12500.5, 78900.0, 23400.75, 8750.25, 156000.0, 34500.5, 19800.0, 67500.25, 91200.75, 28750.0, 43200.5, 76800.25, 15600.75, 128900.0, 52300.5, 31200.25, 89700.75, 64800.0, 22450.5, 176500.25, 38900.75, 27300.0, 134600.5, 71200.25, 92300.75, 18900.5, 105600.25, 57800.0]

In [22]:
__import__('csv').writer(open('filtered.csv','w',newline='')).writerows([r for r in list(__import__('csv').reader(open(path)))[1:] if float(r[3]) > 75000])