In [15]:
import re

## Literal Characters

In [16]:
text = "Data science is cool as you get to work with real-world data"
matches = re.findall(r"data", text)
print(matches)

['data']

In [17]:
matches = re.findall(r"data", text, re.IGNORECASE)
print(matches)

['Data', 'data']

## Metacharacters

In [18]:
text = "The cat sat on the mat. The bat flew over the rat."
pattern = r"The ... "
matches = re.findall(pattern, text)
print(matches)

['The cat ', 'The bat ']

In [19]:
text = "The cat sat on the mat. The bat flew over the rat."
pattern = r"[cb]at"
matches = re.findall(pattern, text)
print(matches)

['cat', 'bat']

In [20]:
# Find all lowercase words that start with a-d
pattern = r"\b[a-d][a-z]*\b"
text = "apple banana cherry date elephant fig grape kiwi lemon mango orange"
matches = re.findall(pattern, text)
print(matches)

['apple', 'banana', 'cherry', 'date']

In [21]:
text = "Phone numbers: 555-1234, 555-5678, 5551234"
pattern = r"\b\d{3}-?\d{4}\b"
matches = re.findall(pattern, text)
print(matches)

['555-1234', '555-5678', '5551234']

## Anchors

In [22]:
text = "Python is popular in data science."

# ^ anchors to the start of the string
start_matches = re.findall(r"^Python", text)
print(start_matches)

# $ anchors to the end of the string
end_matches = re.findall(r"science\.$", text)
print(end_matches)

['Python']
['science.']

## Capturing Groups

In [23]:
text = "Dates: 2023-10-15, 2022-05-22"
pattern = r"(\d{4})-(\d{2})-(\d{2})"

# findall returns tuples of the captured groups
matches = re.findall(pattern, text)
print(matches)

# You can use these to create structured data
for year, month, day in matches:
    print(f"Year: {year}, Month: {month}, Day: {day}")

[('2023', '10', '15'), ('2022', '05', '22')]
Year: 2023, Month: 10, Day: 15
Year: 2022, Month: 05, Day: 22

## Named Groups

In [24]:
text = "Contact: john.doe@example.com"
pattern = r"(?P<username>[\w.]+)@(?P<domain>[\w.]+)"

match = re.search(pattern, text)
if match:
    print(f"Username: {match.group('username')}")
    print(f"Domain: {match.group('domain')}")

Username: john.doe
Domain: example.com